.map_container {
	width:100%;
}

.gmaps4rails_map {
	width:100%;
}

div.info-win {
	width:200px;
	height:200px;
	background:red;
}

.info-box { 
	border: 1px solid #33363b;
	border-radius:4px;
	margin-top: 8px;
	background: #fff; 
	padding: 8px;
	font-weight:bold; 
}