.map_container {
	width:100%;
}

.gmaps4rails_map {
	width:100%;
}

div.info-win {
	width:200px;
	height:200px;
	background:red;
}

.yellow { border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px; }