<div class="row">
	<h1>Title</h1>
	<p><%= link_to 'Add Location', new_location_path %></p>
</div>

<div class="row">
	<div class="four columns">
		<div id="dsel1"></div>
	</div>
	<div class="eight columns">
		
	</div>
</div>

<div class="row">
	<div class="four columns">
		<ul id="markers_list" class="marker_list">
		</ul>
	</div>
	<div class="eight columns">
		<%= gmaps( 
			:markers => { :data => @json, :options => { "list_container" => "markers_list" } }, 
			:map_options => { :auto_adjust => true, # :auto_adjust map to center on location
					  :auto_zoom => true }	# :auto_zoom defaults to full zoom in, set to false to utilize :zoom
		) %>
	</div>
</div>